p.worspace-admin-actions button{
    margin-right: 20px;
}

.workspace-list-item {
    margin-top: 20px;
}

.workspace-description {
    text-align: justify;
    margin: 0 20px;
}

.workspace-item-actions{
    text-align: right;
    button {
        margin-left: 20px;
    }
}